<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814660141387-kbl0vbu4n9n21ugi1s6nr1r5desg5aab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814660141387-kbl0vbu4n9n21ugi1s6nr1r5desg5aab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814660141387-lo17ro6rng5do9mll99vl9u0395rkpvr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Yvap91ie9s8CSCJlfvZQo3zhsmTfda8</string>
	<key>GCM_SENDER_ID</key>
	<string>814660141387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinalproject</string>
	<key>PROJECT_ID</key>
	<string>new-tung</string>
	<key>STORAGE_BUCKET</key>
	<string>new-tung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814660141387:ios:199d124c450205b8f328ce</string>
</dict>
</plist>